@charset 'UTF-8';

* {
    margin: 0px;
}

:root {
    --cor1: #4B75F2;
    --cor2: #5852F2;
    --cor3: #747dcc;
}

@font-face {
    font-family: 'padrao';
    src: url('../fonte/BebasNeue-Regular.ttf') format('truetype');
}

body {
    background: black url(../wallpaper004.jpg) center center no-repeat fixed;
    background-size: cover;
}

header {
    max-width: 2560px;
    min-width: 370px;
    text-align: center;
    background-image: linear-gradient(360deg, var(--cor1), var(--cor2));
    font: bold 1.5em 'padrao';
    letter-spacing: 2px;
    line-height: 2em;
    padding: 20px;
    color: white;
}

nav {
    background-color: var(--cor1);
    max-width: 2560px;
    min-width: 390px;
    padding: 10px;
    font: normal 18px 'arial';
}

nav a {
    text-decoration: none;
    color: white;
    margin-left: 25px;
    transition-duration: .3s;
}

nav a:hover {
    transition: all .3s ease-in-out;
    background-color: #747dcc;
    border-radius: 2px;
    padding: 5px;
}

main {
    background-color: white;
    max-width: 800px;
    min-width: 377.9px;
    padding: 15px;
    margin: auto;
}

article h1 {
    background-image: linear-gradient(90deg, var(--cor1), var(--cor2));
    padding: 2px;
    color: white;
    font: normal 24px 'arial';
    border-radius: 5px 5px 0px 0px;
    margin-top: 20px;
    padding-left: 15px;
}

article p {
    padding: 5px;
    text-indent: 30px;
    font: normal 16px 'arial';
    text-align: justify;
    line-height: 1.3em;
    background-color: rgb(149, 173, 196);
    border-radius: 0px 0px 5px 5px;
}

article h1.first {
    margin: 0px;
}

article a {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

article a:hover {
    background-color: rgb(105, 124, 143);
    padding: 2px;
    color: rgb(0, 0, 0);
}