* {
    margin: 0px
}

header {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(360deg, #5852F2, #4B75F2);
    padding: 15px;
    color: white;
    max-width: 2000px;
    min-width: 410px;
}

header h2 {
    margin-top: 5px;
    margin-bottom: 10px;
}

body {
    background-color: #f0f0f0;
}

main#aula {
    background-color: white;
    max-width: 800px;
    min-width: 410px;
    margin: auto;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 4px 7px 0px rgba(70, 70, 70, 0.438)
}

main#aula h1 {
    color: white;
    background-image: linear-gradient(90deg, #747dcc, white);
    padding: 1px;
    padding-left: 5px;
    border-radius: 7px;
    font: normal 2em 'arial';
}

main#aula p {
    background-color: #b3b0e2fa;
    margin-top: 8px;
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 4px;
    font-family: 'arial';
    text-align: justify;
    text-indent: 18px;
    line-height: 1.4em;
}

nav {
    background-color: #5854F2;
    padding: 10px;
    max-width: 2000px;
    min-width: 420px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 7px;
    margin-left: 20px;
    transition: all .4s ease;
}

nav a:hover {
    background-color: #999eca;
    border-radius: 4px;
    transition-duration: 0.4s;
}

main#aula h1.importante {
    background-image:linear-gradient(90deg, #6cb8d6, white) ;
}

main#aula p.importante {
    background-color: #b1dbe4;
}