@charset 'UTF-8';

* {
    margin: 0px;
}

:root {
    --correserva1: #4B75F2;
    --correserva2: #5852F2;
    --correserva3: #747dcc;
    --corbiologia: rgb(60, 126, 44);
    --corbiologia2: rgb(81, 211, 91);
    --cortextobiologia: rgba(102, 160, 107, 0.664);
    --corfisica:  rgb(97, 47, 117);
    --corfisica2: rgb(153, 84, 185);
    --cortextofisica: rgba(115, 69, 168, 0.514);
    --corquimica: rgba(204, 178, 32, 0.842);
    --corquimica2:  rgb(228, 214, 18);
    --cortextoquimica: rgba(178, 216, 41, 0.596);
    --fonteheader: bold 3em 'padrao';
    --fonteheader2: bold 1.5em 'padrao';
    --corheader1: rgb(115, 69, 168);
    --corheader2: rgba(87, 136, 103, 0.842);
    --corheader3: rgba(178, 216, 41, 0.596);
    --fontetexto: normal 17px 'times new roman';
    
}

@font-face {
    font-family: 'padrao';
    src: url('../fonte/BebasNeue-Regular.ttf') format('truetype');
}

body {
    background: black url(../wallpaper004.jpg) no-repeat center center fixed;
    background-size: cover;
}

header {
    padding: 20px;
    text-align: center;
    letter-spacing: 2px;
    color: white;
}

section.cabeca {
    position: sticky;
    opacity: 100%;
    top: 0;
    background-image: linear-gradient(324deg, rgb(115, 69, 168), rgba(87, 136, 103, 0.842), rgba(178, 216, 41, 0.596) );
}

header h1 {
    font: var(--fonteheader);
}

header h2 {
    font: bold 1.5em 'padrao';
}

nav {
    padding: 10px;
}

nav a {
    margin-left: 30px;
}

a {
    color: white;
    text-decoration: none;
    transition-duration: .2s;
}

a:hover {
    background-color: rgba(102, 102, 102, 0.301);
    padding: 5px;
    border-radius: 2px;
    transition: all ease-in-out .2s;
}

section.bioquim, main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    max-width: 1000px;
    min-width: 0px;
}

.fis {
    flex: 100%;
    padding: 15px;
    background-color: white;
    
}

#bio {
    flex: 30%;
    padding: 15px;
    background-color: white;
    border-radius: 0px 0px 5px 0px;
    box-shadow: 0px 5px 2px rgba(155, 150, 150, 0.178);
}   

#quim {
    flex: 30%;
    padding-top: 0px;
    padding: 15px;
    background-color: white;
    border-radius: 0px 0px 0px 5px;
    box-shadow: 0px 5px 2px rgba(155, 150, 150, 0.178);
}

#bio h1 {
    background-image: linear-gradient(90deg, var(--corbiologia), var(--corbiologia2));
    padding: 3px;
    color: white;
    font: normal 25px 'arial';
    border-radius: 5px 5px 0px 0px;
}

#quim h1 {
    background-image: linear-gradient(90deg, var(--corquimica), var(--corquimica2));
    padding: 3px;
    color: white;
    font: normal 25px 'arial';
    border-radius: 5px 5px 0px 0px;
}

article p {
    font: var(--fontetexto);
    text-indent: 30px;
    text-align: justify;
}

.fis h1 {
    background-image: linear-gradient(90deg, var(--corfisica), var(--corfisica2));
    color: white;
    padding: 3px;
    font: normal 25px 'arial';
    border-radius: 5px 5px 0px 0px;
}

#bio p {
    background-color: var(--cortextobiologia);
    padding: 5px;
    border-radius: 0px 0px 5px 5px;
    line-height: 1.3em;
}


#quim p {
    background-color: var(--cortextoquimica);
    padding: 5px;
    border-radius: 0px 0px 5px 5px;
    line-height: 1.3em;
}

.fis p {
    background-color: var(--cortextofisica);
    padding: 5px;
    border-radius: 0px 0px 5px 5px;
    line-height: 1.3em;
}

@media (max-width: 500px) {
    main, section.bioquim {
        flex-direction: column;
    }
}
